@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

header {
  background-color: #121111;
  box-shadow: 0 5px 25px #353eac;
  width: 100%;
  position: fixed;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px 200px;
  border-radius: 0px 0px 10px 10px;
}

.logo {
  text-decoration: none;
  color: #c4ff8b;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.8em;
  letter-spacing: 5px;
  transition: 0.6s;
}

.logo:hover {
  color: #353eac;
}

.navigation a {
  color: #79995a;
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 500;
  padding-left: 30px;
  transition: 0.7s;
  transform: scale3d(1.1);
}

.navigation a:hover {
  color: #353eac;
  font-size: 1.14em;
}

section {
  padding: 100px 200px;
}

.main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: url(programming-concept_82472-703.webp) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.main h4 {
  filter: drop-shadow(1px 0px 2px white);
  color: #160505;
  margin-left: -40px;
  font-size: 1.3em;
}


.main h2 {
  color: #ffffff;
  margin-top: 10px;
  font-size: 1.4em;
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.4s;
}






.main h2 span {
  display: inline-block;
  margin-top: 10px;
  color: #c6ff8e;
  font-size: 2em;
  font-weight: 600;
  text-transform: capitalize;
  transition: 0.4s;
}

.main h2 span:hover {
  color: #575ea3;

}

.main h3 {
  color: #a3a3a3;
  font-size: 1.5em;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin-top: 10px;
  margin-bottom: 30px;
  transition: 0.4s;
}

.main h3:hover {
  color: #c6ff8e;
}

.main-btn {

  filter: drop-shadow(0px 1px 3px white);
  text-decoration: none;
  color: white;
  background-color: #000000;
  font-size: 1.1em;
  font-weight: 600;
  display: inline-block;
  padding: 0.9375em 2.1875em;
  letter-spacing: 1px;
  border-radius: 500px;
  margin-bottom: 40px;
  transition: 0.7s;

}


.main-btn:hover {
  background-color: #363636;
  transform: scale(1.1);
}

.social-icons a {
  color: #fff;
  font-size: 1.7em;
  padding-right: 30px;
  transition: 0.6s;
}

.social-icons a:hover {
  color: #000000;
  filter: drop-shadow(0px 1px 2px white);
  font-size: 1.88em;

}

.tittle {
  display: flex;
  justify-content: center;
  color: #79995a;
  font-size: 2.1em;
  font-weight: 700;
  margin-bottom: 30px;
  letter-spacing: 2px;
  transition: 0.4s;
}


.tittle:hover {
  color: black;
  transform: scale(0.8);
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  background-color: #fff;
  width: 21.25em;
  box-shadow: 0 5px 25px rgba(1 1 1 / 25%);
  border-radius: 10px;
  padding: 25px;
  margin: 15px;
  transition: 0.6s;
}

.card:hover {
  transform: scale(1.1);
}

.icon {
  color: #79995a;
  text-align: center;
  margin-bottom: 20px;
  font-size: 5em;
}

.info {
  text-align: center;
}

.info h3 {
  color: #25665a;
  font-size: 1.2em;
  font-weight: 700;
  margin: 10px;
}

.project {
  background-color: #1b0236;
}

.project .content {
  margin: 25px;
}

.project-card {
  box-shadow: 0 2px 14px white;
  color: #ffffff;
  background-color: #000000;
  border: 1px solid white;
  min-height: 14em;
  width: 23em;
  overflow: hidden;
  border-radius: 10px;
  margin: 10px;
  transition: 0.5s ease;
}

.project-card:hover {
  transform: scale(1.1);
}

.project-image img {
  width: 100%;
}

.project-card:hover .project-image {
  opacity: 0.5;
}

.project-info {
  padding: 1em;
}

.project-category {
  font-size: 0.8em;
}

.project-tittle {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-weight: 800;
  margin-top: 10px;
}

.more-details {
  text-decoration: none;
  color: #79995a;
  transition: 0.3s ease;
}

.more-details:hover {
  color: #21417e;
  transform: scale(1.1);
}

.contact .icon {
  font-size: 4em;
}

.contact .info h3 {
  color: #000;
  font-size: 1em;
}

.contact .info p {
  font-size: 1.2em;
}

.footer {
  background-color: #000;
  padding: 1.3em;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
}

.footer-tittle {
  font-size: 1.1em;
  font-weight: 500;
}

.footer span {
  color: rgb(23, 23, 216);
  text-transform: capitalize;
}

.footer .social-icons a {
  font-size: 1.2em;
  padding: 0 14px 0 0;
}
